.navBrand {
    background-color: #F8B324;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bolder;
    font-size: larger;
    border-radius: 10px;
    margin:0px;
  }